@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/gilroylight.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/gilroylight.ttf") format("ttf");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src:
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src:
    url("../fonts/gilroyextrabold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src:
    url("../fonts/gilroyextrabold.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/opensanslight.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src:
    url("../fonts/opensanslight.ttf") format("ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/opensans.ttf") format("ttf");
}


:root {
  --basic-black: #000000;
  --basic-black-03: rgba(0, 0, 0, 0.3);
  --basic-white: #FFFFFF;
  --accent-bgr: #F7E296;
  --basic-grey-light: #E5E5E5;
  --basic-dark: #363636;
  --accent-bgr-dark: #F0C52E;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 1160px;
  font-style: normal;
  background-color: var(--basic-white);
  color: var(--basic-black);
  padding-top: 40px;
}

.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

}

.link {
  text-decoration: none;
  color: var(--basic-black);
  font-style: normal;
}

.like-btn {
  border: none;
  background-color: transparent;
  background-size: 8px 20px;
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-btn:before {
  content: '';
  width: 100%;
  height: 8px;
  background-color: var(--accent-bgr-dark);
  position: absolute;
  top: calc(50% - 5px);
  z-index: -1;

}

.like-btn:hover:before,
.like-btn:focus:before {
  height: 100%;
  transform: translateY(calc(5px - 50%));
  transition-duration: 0.5s;

}

.like-btn:active {
  color: var(--basic-black-03);
}


.header {
  box-sizing: border-box;
  width: 1160px;
  margin: 0 auto;
  background-color: var(--accent-bgr);
  padding-top: 30px;
  padding: 45px 60px 12px;
  position: relative;
  z-index: 1;
}

.header__logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

.header__activity {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 49px;
}

.header__top-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__logo:hover,
.header__logo:focus {
  opacity: 0.6;
}

.header__logo:active {
  opacity: 0.3;
}

.header__top-link {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.header__top-link:hover,
.header__top-link:focus {
  opacity: 0.6;
}

.header__top-link:active {
  opacity: 0.3;
}

.header__link {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__item-catalog {
  display: flex;
}

.header__submenu {
  visibility: hidden;
}

.header__link:hover,
.header__link:focus {
  opacity: 0.6;
}

.header__link:active {
  opacity: 0.3;
}

.header__sub-link {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
}

.header__sub-link:hover,
.header__sub-link:focus {
  opacity: 0.6;
}

.header__sub-link:active {
  opacity: 0.3;
}

.page__main {
  width: 100%;
  display: grid;
  grid-template-columns: auto 600px 560px auto;
  grid-template-rows: auto;

}

.product {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 0px;
  z-index: 2;
  padding-top: 70px;
  position: relative;
  background: linear-gradient(to bottom, var(--accent-bgr) 0%, var(--accent-bgr) 106px, var(--basic-white) 106px, var(--basic-white) 100%);
  margin-bottom: 48px;
}

.product__item {
  display: grid;
  grid-template-columns: 600px 560px;
  position: relative;
}

.product__number {
  position: absolute;
  top: -111px;
  right: 47px;
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
  display: flex;
  z-index: 1;

}

.product::after {
  position: absolute;
  display: block;
  content: "";
  width: 100px;
  height: 7px;
  top: 11px;
  right: 460px;
  background-color: var(--basic-white);


}

.product__img {
  grid-row-start: 1;
  grid-row-end: 5;
  margin: auto;
  margin-left: 30px;
}

.product__img-1 {
  margin-top: -93px;
  margin-left: 89px;
}

.product__tagline {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 0;
  margin-bottom: 26px;
  display: flex;
  z-index: 1;
  position: relative;
}

.product__text {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  width: 500px;
  margin: 0;
  margin-bottom: 53px;
}

.product__details {
  width: 220px;
  margin-bottom: 50px;
}

.slayder__btn {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: 1px solid var(--basic-dark);
  outline: none;
  background-color: transparent;
  position: relative;
}

.slayder__btn:active::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 1px;
  left: 2px;
  width: 6px;
  height: 6px;
  border: 1px solid var(--basic-dark);
}

.product__parametrs {
  display: flex;
}

.product__parametr {
  width: 160px;
}

.product__value {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  margin: 0;
  margin-bottom: 16px;
}

.product__key {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  margin: 0;
}

.product__slayder {
  position: absolute;
  top: 317px;
  right: 87px;
  width: 74px;
  display: flex;
  justify-content: space-between;
}

.kinds {
  grid-column-start: 2;
  grid-column-end: 4;
  padding-top: 67px;
  padding-bottom: 20px;
}

.kinds__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.kinds__img-wrap {
  width: 160px;
  height: 160px;
  background-color: var(--accent-bgr);
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.kinds__img {
  margin: auto;
}

.kinds__name {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  width: 160px;
  margin: 0;
}



.kinds__link:active .kinds__name {
  opacity: 0.3;
}

.services {
  grid-column-start: 1;
  grid-column-end: 5;
  background: linear-gradient(to bottom, var(--basic-white) 0%, var(--basic-white) 36%, var(--basic-grey-light) 36%, var(--basic-grey-light) 100%);
  display: grid;
  grid-template-columns: auto 400px 760px auto;
  padding-top: 133px;

}

.services__list {
  grid-column-start: 2;
  grid-column-end: 3;
}

.services__description {
  display: none;
}

.services__description-current {
  display: block;
}

.services__descriptions {
  margin-bottom: 135px;
}

.services__caption {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
  margin-bottom: 40px;
}

.services__text {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
  margin: 0;
  width: 500px;

}

.services__list {
  padding-top: 9px;
  position: relative;
}

.services__list::after {
  content: '';
  width: 8px;
  height: 320px;
  background-color: var(--basic-black);
  position: absolute;
  display: block;
  top: -71px;
  right: 116px;
}

.services__btn {
  width: 160px;
  border: none;
  background-color: transparent;
  background-size: 8px 20px;
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}



.services__item-current .services__btn {
  color: var(--accent-bgr);
  background-color: var(--basic-black);
  width: 277px;
  text-align: left;
  justify-content: start;
  padding-left: 20px;
}


.services__item-current .services__btn::before {
  display: none;
}

.services__btn::before {
  content: '';
  width: 100%;
  height: 8px;
  background-color: var(--accent-bgr-dark);
  position: absolute;
  top: calc(50% - 5px);
  z-index: -1;

}

.services__btn:hover::before,
.services__btn:focus::before {
  height: 100%;
  transform: translateY(calc(5px - 50%));
  transition-duration: 0.5s;

}






.services__item {
  margin-bottom: 21px;
}

.logotypes {
  grid-column-start: 2;
  grid-column-end: 4;

}

.logotypes__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 86px;
}

.logotypes__item {
  width: 260px;
  height: 100px;
  display: block;
}

.logotypes__logo-DJI {
  background-image: url(../img/logo-1.png);
}

.logotypes__logo-DJI:hover {
  background-image: url(../img/logo-1-hover.png);
}

.logotypes__logo-SPGadgets {
  background-image: url(../img/logo-2.png);
}

.logotypes__logo-GoPro {
  background-image: url(../img/logo-3.png);
}

.logotypes__logo-VIve {
  background-image: url(../img/logo-4.png);
}

.logotypes__logo-SPGadgets:hover {
  background-image: url(../img/logo-2-hover.png);
}

.logotypes__logo-GoPro:hover {
  background-image: url(../img/logo-3-hover.png);
}

.logotypes__logo-VIve:hover {
  background-image: url(../img/logo-4-hover.png);
}

.about-contact-wrap {
  width: 1160px;
  margin: 0 auto;
}

.about {
  grid-column-start: 2;
  grid-column-end: 3;
  position: relative;
  padding-top: 58px;
  padding-bottom: 76px;

}

.about::before {
  position: absolute;
  display: block;
  content: '';
  width: 80px;
  height: 8px;
  background-color: var(--basic-black);
  top: 0;
  left: 0;
}

.about__title {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
  margin-bottom: 42px;
}



.about__text {
  width: 473px;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 40px;
}

.about__link {
  width: 260px;

}

.about__delivery {
  margin-top: 60px;
  margin-bottom: 70px;
}

.about__company {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  padding-left: 31px;
  margin-bottom: 15px;
  position: relative;
}

.about__company::before {
  position: absolute;
  display: block;
  content: '';
  width: 6px;
  height: 6px;
  top: 8px;
  left: 0;
  border: 1px solid var(--basic-grey-light);
  border-radius: 50%;
}

.contacts {
  grid-column-start: 3;
  grid-column-end: 4;
  padding-top: 60px;
  position: relative;
}

.contacts::before {
  position: absolute;
  display: block;
  content: '';
  width: 80px;
  height: 8px;
  background-color: var(--basic-black);
  top: 0;
  left: 0;
}

.contacts__title {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 0;
  margin-bottom: 40px;
}

.contacts__text {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 39px;
}

.contacts__map {
  margin-bottom: 73px;
}

.contacts__btn {
  width: 260px;
  border: none;
  background-color: transparent;
}

.footer {
  width: 100%;
  background-color: var(--basic-dark);
  display: grid;
  grid-template-columns: auto 360px 440px 360px auto;
  grid-template-rows: 112px 75px 137px;
}




.footer__logo-link {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 64px;
  position: relative;
}

.footer__logo {
  fill: var(--accent-bgr-dark);
}

.footer__logo-link::after {
  position: absolute;
  display: block;
  content: '';
  width: 80px;
  height: 7px;
  background-color: var(--accent-bgr-dark);
  bottom: -134px;
  left: 0;
}

.footer__logo:hover,
.footer__logo:focus {
  opacity: 0.6;
}

.footer__logo:active {
  opacity: 0.3;
}

.footer__address {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  opacity: 0.7;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 0;
  padding-top: 27px;
}

.footer__item:hover,
.footer__item:focus {
  opacity: 0.6;
}

.footer__item:active {
  opacity: 0.3;
}

.footer__link {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--basic-white);
}

.footer__activity {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.footer__activity-link {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  opacity: 0.7;
  display: block;
  padding-left: 60px;
  /* margin-left: 30px; */
}

.footer__activity-link:hover,
.footer__activity-link:focus {
  opacity: 1;
}

.footer__activity-link:active {
  opacity: 0.3;
}

.footer__phone {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  opacity: 0.8;
  grid-column-start: 4;
  grid-column-end: 5;
  text-align: end;
  margin: 0;
  padding-top: 27px;
}

.footer__nav {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 4px;
}

.footer__social {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 136px;
  margin: 0 auto;

}

.footer__social-fb {
  background-image: url(../img/fb.svg);
}

.footer__social-ig {
  background-image: url(../img/instagram.svg);
}

.footer__social-tw {
  background-image: url(../img/twitter.svg);
}

.footer__social-link {
  display: block;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.footer__social-link:hover,
.footer__social-link:focus {
  opacity: 0.6;
}

.footer__social-link:active {
  opacity: 0.1;
}

.footer__copyright {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: end;
  margin-top: 40px;
}

.footer__copyright:hover,
.footer__copyright:focus {
  opacity: 0.6;
}

.footer__copyright:active {
  opacity: 0.3;
}

.write-us__label {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.write-us__input {
  background-color: var(--basic-grey-light);
  border: none;
}

.write-us__submit {
  border: none;
  background-color: transparent;
}

.catalog {
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 327px 830px auto;
  grid-template-rows: auto;
  padding-top: 44px;

}

.catalog__title {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin: 0;
  padding-left: 60px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.breadcrumbs {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0;
  padding-top: 30px;
  padding-left: 60px;
  padding-bottom: 50px;
  display: flex;
}

.breadcrumbs__item {
  margin-right: 41px;
}

.breadcrumbs__link {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.catalog-header__filter {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  z-index: 10;
  padding-left: 60px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.catalog-header {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  padding-top: 25px;
  padding-left: 71px;
}

.catalog-header__filter,
.catalog-header__sort {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.catalog-header__list {
  display: flex;
  margin-left: 73px;
}

.catalog-header__sort-item {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
  margin-right: 30px;
}

.catalog-header__btn-wrap {
  margin-left: auto;
}

.catalog-header__btn {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 1px 2px 2px 2px;
  margin-left: 15px;

}

.catalog__filter {
  background-color: var(--basic-grey-light);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  padding-top: 100px;
}


.catalog::after {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
  content: "";
  background-color: var(--basic-grey-light);
  height: 100%;
  width: 100%;
  display: block;
}

.catalog::before {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  content: "";
  background-color: var(--basic-grey-light);
  height: 100%;
  width: 100%;
  display: block;
  mix-blend-mode: multiply;
}



.catalog__wrap {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}

.color,
.bluetooth {
  border: none;
}

.color__legend,
.bluetooth__legend {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.color__label,
.bluetooth__label {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}

.catalog__wrap {
  padding-left: 72px;
  padding-top: 70px;
}

.catalog__list {
  display: grid;
  grid-template-columns: 360px 360px;
  grid-template-rows: 454px 454px;
  grid-row-gap: 48px;
  grid-column-gap: 40px;
}

.catalog__item {
  padding: 0;
  font-size: 0;
  position: relative;
}

.catalog__img {
  width: 100%;
  margin-bottom: 30px;
}

.catalog__name-wrap {
  display: flex;
  justify-content: space-between;
}

.catalog__name {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  width: 274px;
}

.catalog__price {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.03em;
  padding-top: 3px;
  padding-left: 2px;
  width: 81px;
}



.catalog__add-compare {
  background-color: transparent;
  border: none;
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

.catalog__add-cart {
  top: 171px;
  left: 77px;
  width: 200px;
}

.catalog__add-compare {
  top: 222px;
  left: 87px;
  opacity: 0.5;
  outline: none;
}

.catalog__new,
.catalog__add-cart,
.catalog__add-compare {
  position: absolute;
  display: none;
}

.catalog__item:hover .catalog__add-cart,
.catalog__item:hover .catalog__add-compare {
  display: flex;
}

.catalog__add-compare:hover {
  opacity: 1;
}

.catalog__add-compare:active,
.catalog__add-compare:focus {
  opacity: 0.3;
}

.catalog__pages {
  background-color: var(--basic-grey-light);
}

.catalog__btn {
  font-family: "Gilroy", Helvetica, sans-serif;
  background-color: var(--basic-grey-light);
  border: none;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.catalog__link {
  font-family: "Gilroy", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.3;
}
